.profile-container {
  max-width: 85%;
  margin: 25px auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  /* border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.profile-container h1 {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.profile-info {
  /* background-color: #f5f5f5; */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.profile-info p {
  margin: 0;
  font-size: 15px;
}

.profile-info input {
  margin-top: 10px;
  border: none;
  outline: none;
  height: 25px;
}

.bold-text {
  font-weight: bold;
}

.input-style {
  background-color: #dddddd;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.input-field {
  margin-bottom: 20px;
}

.address_general {
  display: flex;
  margin: 20px auto;
  gap: 10px;
}

.button-saveChange {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.button-saveChange button {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  background: #41a0ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.stopWatch {
  font-size: 100px;
  padding: 10px;
}
.error-message {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}
.error-message button {
  background: none;
  border: none;
  cursor: pointer;
}
.error-message li {
  list-style: none;
}
.text-error {
  font-size: 20px;
}

.order-item {
  display: flex;
}

.list_order a {
  text-decoration: none;
}

.order_detail img {
  width: 90px;
  height: 90px;
}

.product {
  display: flex;
  margin: 20px auto;
}

.list-main {
  display: grid;
  grid-template-columns: 2.5fr 2fr 1.5fr 1.5fr;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.list-main p {
  font-size: 15px;
  font-weight: 800;
}

.order-container h1 {
  margin: 0 auto 30px auto;
}

.order-item p {
  font-weight: 500;
}

.empty_track img {
  width: 200px;
  height: 200px;
}

.empty_track {
  text-align: center;
}

.empty_track h2 {
  font-weight: 100;
}
